<section class="container main-content">
  <ol class="breadcrumb">
    <li>
      <a href="/ngo/<%= params[:bill_id] %>">Contas da Ong</a>
    </li>
    <li class="active">
      <%= I18n.t("upload_receipt") %>
    </li>
  </ol>

  <%= erb :errors, locals: { errors: errors } if errors.any? %>

  <% flash.each do |key, value| %>
    <div data-alert class="alert-box <%= key %>">
      <%= value %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>


  <div class="row">
    <div class="span4 offset4">
      <h3 class="mb20"><%= I18n.t(:upload_receipt) %></h3>

      <form method="post" action="/bills/<%= @bill.id %>/receipts/create" enctype="multipart/form-data">
        <%= erb "receipts/_form_fields".to_sym %>
      </form>
    </div>
  </div>
</section>
