<!DOCTYPE html>
<!--[if IE 8]>      <html class="no-js lt-ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="<%= I18n.locale %>"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Billbo App</title>

    <meta property="og:image" content="http://billbo.aws.af.cm/img/billbo.jpg">
    <meta property="og:url" content="http://billbo.aws.af.cm/">
    <meta property="og:title" content="Billbo">
    <meta property="og:description" content="Para ajudar alguém. Mas ajudar eficientemente.">
    <meta property="og:type" content="website">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/billbo.css">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="span6">
            <h1 id="logo">
              <a href="/">Billbo</a>
            </h1>
          </div>
          <div class="span6 text-right">
            <% if logged_in %>
              <%= logged_in_email %>
              <a href="/logout" class="login-link">Logout</a>
            <% else %>
              <a href="/auth" id="login_with_google" class="login-link">Login with Google</a>
            <% end %>

            <a class="link-lang" href="/locale/pt">
              <img src="/img/brazil_flag.png" alt="Versão em Português">
            </a>
            <a class="link-lang" href="/locale/en">
              <img src="/img/usa_flag.png" alt="English Version">
            </a>
          </div>
        </div>
      </div>
    </header>


    <%= yield %>

    <script src="/js/foundation.min.js"></script>
    <script src="/js/billbo.js"></script>
    <script src="/js/vendor/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/vendor/jquery.tinysort.min.js"></script>
    <script type="text/javascript">
      window.i18n = <%= session[:i18n_hash] %>
    </script>
  </body>
</html>
