<!DOCTYPE html>
<!--[if IE 8]>      <html class="no-js lt-ie9" lang="<%= session[:locale] %>"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="<%= session[:locale] %>"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Billbo App</title>

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="/css/billbo.css" />
  </head>

  <body>
    <header class="row">
      <div class="small-10 columns">
        <h1 class="title"><a href="/">Billbo</a> <small><%= I18n.t(:subtext) %></small></h1>
      </div>
      <div class="small-2 columns flags">
        <a id="link-pt" href="/locale/pt">
          <img src="/img/brazil_flag.png" alt="Versão em Português" />
        </a>
        <a id="link-en" href="/locale/en">
          <img src="/img/usa_flag.png" alt="English Version" />
        </a>
      </div>
    </header>
    <section class="row">
      <% if logged_in %>
        <%= logged_in_email %>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/auth" id="login_with_google">Login with Google</a>
      <% end %>
    </section>

    <section class="row">
      <%= yield %>
    </section>

    <script src="/js/foundation.min.js"></script>
    <script src="/js/billbo.js"></script>
    <script src="/js/vendor/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/vendor/jquery.tinysort.min.js"></script>
    <script type="text/javascript">
      window.i18n = <%= session[:i18n_hash] %>
    </script>
  </body>
</html>
