<div class="row">
  <div class="twelve columns">
    <p class="align_right"><%= i18n.sort_by %>:
      <a href="#"><%= i18n.gt_value %></a>, <a href="#"><%= i18n.lt_value %></a>, 
      <a href="#"><%= i18n.priority %></a>, <a href="#"><%= i18n.due_date %></a>
    </p>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <ul class="small-block-grid-2 large-block-grid-4 thumbnails">
      <% @bills.each do |bill| %>
        <li class="bill-container">
          <a href="#" data-reveal-id="myModal<%= bill.id %>">
            <img src="http://www.placehold.it/200x270&text=Bill+Image" alt="" />
            <h5><%= bill.issued_by %></h5>
            <p>R$ <%= bill.total_amount %></p>
          </a>
          <div class="reveal-modal bill-details" id="myModal<%= bill.id %>">
              <a class="close-reveal-modal">&#215;</a>
              <h4><%= bill.issued_by %></h4>
              <p>R$ <%= bill.total_amount %></p>
              <p><%= bill.due_date %></p>
              <p><%= bill.barcode %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>