<div class="row">
  <div class="twelve columns">
    <h3 class="subheader"><%= i18n.bills %></h3>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <ul class="small-block-grid-2 large-block-grid-4 thumbnails">
      <% @bills.each do |bill| %>
        <li class="bill-container">
          <a class="thumbnail bill-box" href="#">
            <img src="http://www.placehold.it/200x270&text=Bill+Image" alt="" />
            <h4><%= bill.issued_by %></h4>
            <p>R$<%= bill.total_amount %></p>
          </a>
          <div class="row panel radius bill-details">
            <div class="four columns">
              <img src="http://www.placehold.it/200x270&text=Bill+Image" alt="" />
            </div>
            <div class="eight columns">
              <button type="button" class="tiny close-bill-details">&times;</button>
              <h4><%= bill.issued_by %></h4>
              <p>R$<%= bill.total_amount %></p>
              <p><%= bill.due_date %></p>
              <p><%= bill.barcode %></p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
