<section class="large-6 columns new-bill">
  <% flash.each do |key, value| %>
    <div data-alert class="alert-box <%= key %>">
      <%= value %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <h3><%= i18n.new_bill %></h3>

  <form id='new_bill' method="post" action="/bill/create">
    <label for="issued_by"><%= i18n.issued_by %></label>
    <input name="issued_by" type="text" required autofocus />

    <label for="due_date"><%= i18n.due_date %></label>
    <input name="due_date" type="date" placeholder="<%= i18n.date_format %>" required />

    <div class="row collapse">
      <label for="total_amount"><%= i18n.total_amount %></label>
      <div class="small-2 columns">
        <span class="prefix">R$</span>
      </div>
      <div class="small-10 columns">
        <input name="total_amount" type="number" min="0.1" step="any" required />
      </div>
    </div>

    <label for="barcode"><%= i18n.barcode %></label>
    <input name="barcode" type="text" required />

    <button type="submit" class="button"><%= i18n.create_bill %></button>
  </form>
</section>
