<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= value %>
  </div>
<% end %>

<form class="form-horizontal" method="post" action="/new_bill">
  <fieldset>
    <h3><%= i18n.new_bill %></h3>
    <div class="control-group">
      <input name="issued_by" type="text" placeholder="<%= i18n.issued_by %>" required />
    </div>
    <div class="control-group">
      <input name="due_date" type="text" placeholder="<%= i18n.due_date %> dd-MM-yyyy" id="datepicker" required />
    </div>
    <div class="control-group">
      <input name="total_amount" type="text" placeholder="<%= i18n.total_amount %>" required />
    </div>
    <div class="control-group">
      <input name="barcode" type="text" placeholder="<%= i18n.barcode %>" required />
    </div>
    <button type="submit" class="btn"><%= i18n.create_bill %></button>
  </fieldset>
</form>
