<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= value %>
  </div>
<% end %>

<section class="large-6 columns">
  <h3><%= i18n.new_bill %></h3>
  <form method="post" action="/new_bill">
    <label for="issued_by"><%= i18n.issued_by %></label>
    <input name="issued_by" type="text" required />

    <label for="due_date"><%= i18n.due_date %></label>
    <input name="due_date" type="date" required />

    <div class="row collapse">
      <label for="total_amount"><%= i18n.total_amount %></label>
      <div class="small-2 large-2 columns">
        <span class="prefix">R$</span>
      </div>
      <div class="small-10 large-10 columns">
        <input name="total_amount" type="text" pattern="^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?$" required />
      </div>
    </div>

    <label for="barcode"><%= i18n.barcode %></label>
    <input name="barcode" type="text" required />

    <button type="submit" class="button"><%= i18n.create_bill %></button>
  </form>
</section>
