<section class="large-6 columns new-bill">
  <% flash.each do |key, value| %>
    <div data-alert class="alert-box <%= key %>">
      <%= value %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <h3><%= i18n.upload_receipt %></h3>

  <form id='new_bill' method="post" action="<%= @action %>" enctype="multipart/form-data">
    <label for="contributor_name"><%= i18n.name %></label>
    <input name="contributor_name" type="text" autofocus />

    <label for="contributor_email"><%= i18n.email %></label>
    <input name="contributor_email" type="text" required />

    <label for="receipt"><%= i18n.receipt %></label>
    <input name="receipt" type="file" />

    <button type="submit" class="button"><%= i18n.create_bill %></button>
  </form>
</section>
