<% flash.each do |key, value| %>
  <div data-alert class="alert-box <%= key %>">
    <%= value %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<section id="bill-list" class="small-12 columns">
  <section class="row">
    <div class="large-6 push-6 columns sort_list">
      <ul class="small-block-grid-4">
        <li><a class="gt_value label secondary" href="#"><%= I18n.t("gt_value") %></a></li>
        <li><a class="lt_value label secondary" href="#"><%= I18n.t("lt_value") %></a></li>
        <li><a class="due_date label secondary" href="#"><%= I18n.t("due_date") %></a></li>
        <li><a class="status label secondary" href="#"><%= I18n.t("status") %></a></li>
      </ul>
    </div>
  </section>

  <% if logged_as_admin?  %>
    <a href="/bill/new" class="button"><%= I18n.t("new_bill") %></a>
  <% end %>

  <section class="row">
    <div class="small-12 columns">
      <ul id="all-bills" class="small-block-grid-2 large-block-grid-4">
        <% @bills.each do |bill| %>
          <li class="bill-container">
            <div>
              <a href="#" class="th radius <%= bill.status %>" data-reveal-id="myModal<%= bill.id %>">
                <img class="center" src="<%= bill.url %>" alt="<%= bill.filename %>" />
                <p class="issued-by"><%= bill.issued_by %></p>
                <p class="total_amount">R$ <%= bill.total_amount %></p>
              </a>
              <div class="text-center">
                <% if bill.status == :opened %>
                  <a href="/bill/reserve/<%= bill.id %>" class="tiny button">
                    <%= I18n.t("reserve_bill") %>
                  </a>
                <% end %>
                <a href="/bills/<%= bill.id %>/receipts/new" class="tiny button">
                  <%= I18n.t("upload_receipt") %>
                </a>
              </div>
            </div>
            <section class="reveal-modal small-12 columns" id="myModal<%= bill.id %>">
              <a class="close-reveal-modal">&#215;</a>
              <div class="small-8 columns">
                <h4><%= bill.issued_by %></h4>
                <p>R$ <%= bill.total_amount %></p>
                <p class="due_date"><%= bill.due_date %></p>
                <p><%= bill.barcode %></p>
                
                
                <% if logged_as_admin?  %>
                  <a href="/delete/<%= bill.id %>" class="tiny button" onclick="return confirm(<%= I18n.t("confirm_delete")%>)">
                    <%= I18n.t("delete_bill")%>
                  </a>
                <% end %>
                
                
              </div>
              <div>
                <a href="<%= bill.url %>" >
                  <img class="small-4 columns" src="<%= bill.url %>" alt="<%= bill.filename %>"/>
                </a>
              </div>
            </section>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
</section>
