<section class="large-6 columns new-bill">

  <%= erb :errors, locals: { errors: errors } if errors.any? %>

  <% flash.each do |key, value| %>
    <div data-alert class="alert-box <%= key %>">
      <%= value %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <h3><%= I18n.t(:new_bill) %></h3>

  <form id='new_bill' method="post" action="/bill/create" enctype="multipart/form-data">
    <label for="issued_by"><%= I18n.t(:issued_by) %></label>
    <input name="issued_by" maxlength="200" type="text" required autofocus />

    <label for="due_date"><%= I18n.t(:due_date) %></label>
    <input id="datepicker" name="due_date" type="text" placeholder="<%= I18n.t(:date_format) %>" required />

    <div class="row collapse">
      <label for="total_amount"><%= I18n.t(:total_amount) %></label>
      <div class="small-2 columns">
        <span class="prefix">R$</span>
      </div>
      <div class="small-10 columns">
        <input name="total_amount" maxlength="100" type="number" min="0.1" step="any" required />
      </div>
    </div>

    <label for="barcode"><%= I18n.t(:barcode) %></label>
    <input name="barcode" maxlength="300" type="text" required />

    <label for="image"><%= I18n.t(:image) %></label>
    <input name="image" type="file" />

    <button type="submit" class="button"><%= I18n.t(:create_bill) %></button>
  </form>
</section>
