<section class="large-6 columns new-bill">
  <% flash.each do |key, value| %>
    <div data-alert class="alert-box <%= key %>">
      <%= value %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <h3><%= I18n.t(:reserve_bill) %></h3>

  <form id='reserve_bill' method="post" action="<%= @action %>">
    <label for="phone_number"><%= I18n.t(:phone_number) %></label>
    <input name="phone_number" type="text" autofocus />

    <label for="email"><%= I18n.t(:email) %></label>
    <input name="email" type="text" required value="<%= session['email']%>"/>

    <button type="submit" class="button"><%= I18n.t(:reserve_bill) %></button>
  </form>
</section>
