<section id="site-phrase-wrapper" class="text-center">
  <h3><%= I18n.t(:subtext) %></h3>
</section>

<section class="container">
  <% flash.each do |key, value| %>
    <div data-alert class="alert-box <%= key %>">
      <%= value %>
    </div>
  <% end %>

  <section>

    <% if logged_as_admin?  %>
      <a href="/bill/new" class="button"><%= I18n.t("new_bill") %></a>
    <% end %>


    <% @ngos.each do |ngo| %>
      <section class="ngo-wrapper" role="ngo">
        <h4 class="title">
          <a href="/ngo/<%= ngo.id %>" class="hover"><%= ngo.name %></a>
        </h4>
        <div class="img-wrapper">
          <a href="/ngo/<%= ngo.id %>">
            <img class="ngo_photo" src="<%= ngo.photo_url %>" alt="ngo photo"/>
          </a>
          <div class="description-shadow hidden"></div>
          <p class="description hidden">
            Frase de efeito
          </p>
        </div>
      </section>
    <% end %>

  </section>
</section>
