<section id="site-phrase-wrapper" class="text-center">
  <h3><%= I18n.t(:subtext) %></h3>
</section>

<section class="container">
  <% flash.each do |key, value| %>
    <div data-alert class="alert-box <%= key %>">
      <%= value %>
    </div>
  <% end %>

  <section>

    <% if logged_as_admin?  %>
      <a href="/bill/new" class="btn btn-default"><%= I18n.t("new_bill") %></a>
    <% end %>


    <div id="search-ngos" class="row mb40">
      <div class="span4 offset4">
        <input type="text" class="form-control input-lg" id="search_field" placeholder="<%= I18n.t('search_placeholder') %>">
      </div>
    </div>

    <p id="nothing-found" class="text-center text-muted hide"><%= I18n.t('no_results_found') %></p>
    <% @ngos.each do |ngo| %>
      <section class="ngo-wrapper" role="ngo" data-name="<%= ngo.name.downcase %>">
        <h4 class="title">
          <a href="/ngo/<%= ngo.id %>" class="hover ngo-name"><%= ngo.name %></a>
        </h4>
        <div class="img-wrapper">
          <a href="/ngo/<%= ngo.id %>">
            <img class="ngo_photo" src="<%= ngo.photo_url %>" alt="ngo photo"/>
          </a>
          <div class="description-shadow hidden"></div>
          <p class="description hidden">
            Frase de efeito
          </p>
        </div>
      </section>
    <% end %>

  </section>
</section>
