<section class="container main-content">

  <section class="row mb40">
    <div class="span3">
      <img class="ngo_photo" src="<%= @ngo.photo_url %>" alt="ngo photo"/>
    </div>
    <div class="span9">
      <h1 class="ngo-name"> <%= @ngo.name %></h1>
      <p><%= @ngo.description %></p>

      <div class="contact-info">
        <small>
          <i class="glyphicon glyphicon-user"></i>
          <%= @ngo.contact %>
        </small>
        <small>
          <i class="glyphicon glyphicon-earphone"></i>
          <%= @ngo.phone %>
        </small>
        <small>
          <i class="glyphicon glyphicon-globe"></i>
          <a href="<%= @ngo.website %>" target="blank"><%= @ngo.website %></a>
        </small>
        <small>
          <i class="glyphicon glyphicon-envelope"></i>
          <a href="mailto:<%= @ngo.email %>"><%= @ngo.email %></a>
        </small>
      </div>
    </div>
  </section>


  <fieldset >
    <legend>Nossas Contas</legend>

    <section class="sort_list">
      <div class="text-center">
        <small class="text-muted">Contas ordenadas por:</small>
      </div>
      <ul class="nav nav-pills">
        <li class="active">
          <a href="javascript:void(0);" class="gt_value"><%= I18n.t("gt_value") %></a>
        </li>
        <li>
          <a href="javascript:void(0);" class="lt_value"><%= I18n.t("lt_value") %></a>
        </li>
        <li>
          <a href="javascript:void(0);" class="due_date"><%= I18n.t("due_date") %></a>
        </li>
        <li>
          <a href="javascript:void(0);" class="status"><%= I18n.t("status") %></a>
        </li>
      </ul>
    </section>

    <section>
      <ul id="all_bills">
        <% @ngo.bills.each do |bill| %>
          <li class="bill">
            <div class="thumbnail">
              <div class="caption">
                <a href="javascript:void(0);" class="mb20 block <%= bill.status %>">
                  <img src="<%= bill.image_url %>" alt="<%= bill.filename %>">
                </a>

                <h3><%= bill.issued_by %></h3>
                <p>R$ <%= "%.2f" % bill.total_amount %></p>

              </div>
            </div>
            <div class="text-center bill-actions">
              <% if bill.status == :opened %>
                <a href="/bill/reserve/<%= bill.id %>" class="btn btn-default">
                  <%= I18n.t("reserve_bill") %>
                </a>
              <% end %>
              <a href="/bills/<%= bill.id %>/receipts/new" class="btn btn-success">
                <%= I18n.t("upload_receipt") %>
              </a>
            </div>



            <!-- <div>
              <a href="#" class="th radius <%= bill.status %>" data-reveal-id="myModal<%= bill.id %>">
                <img class="center" src="<%= bill.url %>" alt="<%= bill.filename %>" />
                <p class="issued-by"><%= bill.issued_by %></p>
                <p class="total_amount">R$ <%= bill.total_amount %></p>
              </a>

              <div class="text-center">
                <% if bill.status == :opened %>
                  <a href="/bill/reserve/<%= bill.id %>" class="tiny button">
                    <%= I18n.t("reserve_bill") %>
                  </a>
                <% end %>
                <a href="/bills/<%= bill.id %>/receipts/new" class="tiny button">
                  <%= I18n.t("upload_receipt") %>
                </a>
              </div>
            </div>
   -->


            <!-- <section class="reveal-modal small-12" id="myModal<%= bill.id %>">
              <a class="close-reveal-modal">&#215;</a>
              <div class="small-8">
                <h4><%= bill.issued_by %></h4>
                <p>R$ <%= bill.total_amount %></p>
                <p class="due_date" data-timestamp="<%=bill.due_date.to_time.to_i%>"><%= I18n.l bill.due_date %></p>
                <p><%= bill.barcode %></p>
              </div>
              <div>
                <a href="<%= bill.url %>" >
                  <img class="small-4" src="<%= bill.url %>" alt="<%= bill.filename %>"/>
                </a>
              </div>
              <% if logged_as_admin?  %>
                <div class="row text-center">
                  <form id='remove_bill_form' method="post" action="/bill/remove/<%= bill.id %>" enctype="multipart/form-data">
                    <a href="/bill/update/<%= bill.id %>" class="tiny button"><%= I18n.t("update_bill_button") %></a>
                    <input name="_method" type="hidden" value="delete">
                    <button type="submit" class="tiny button" onclick="return confirm('<%= I18n.t("confirm_remove")%>')">
                      <%= I18n.t("remove_bill")%>
                    </button>
                    <% if bill.status == :waiting_confirmation %>
                      <a href="/bill/close/<%= bill.id %>" class="tiny button"><%= I18n.t("close_bill") %></a>
                    <% end %>
                  </form>
                </div>
              <% end %>
            </section> -->


          </li>
        <% end %>
      </ul>
    </section>
  </fieldset>

</section>
