<h2><%= i18n.regards_to_admin%></h2>

<p><%= "#{receipt.contributor_name}  #{i18n.paid} R$ #{bill.total_amount} #{i18n.for} #{bill.issued_by}, #{i18n.due_date}: #{bill.due_date}. #{i18n.here_is} " %><a href="<%= receipt.url %>"><%= i18n.receipt%></a>.</p>
<p><%= "#{i18n.contact_contributor} #{receipt.contributor_email}." %></p>
<p><%= i18n.thanks %></p>
